<div class="breadcrumbs text-center"> <!-- Begin navigation (breadcrumbs) section -->
  <div class="navbar">
    <div class="navbar-item">
      <div class="my-h4">
        <% if Rails.env.development? %>
          <%= link_to 'Home', tabarahranchtrakehners_home_path %>
        <% else %>
          <a href="https://www.tabarahranchtrakehners.com">Home</a>
        <% end %>
      </div>
    </div>
    <div class="navbar-item">
      <div class="my-h4">
        <%= link_to 'Our Herd', herd_path %>
      </div>
    </div>
    <div class="navbar-item">
      <div class="my-h4">
        <%= link_to 'For Sale', forsale_path %>
      </div>
    </div>
    <div class="navbar-item">
      <div class="my-h4">
        <%= link_to 'Pedigrees', pedigrees_path %>
      </div>
    </div>
    <div class="navbar-item">
      <div class="my-h4">
        <%= link_to 'Contact Us', contact_path %>
      </div>
    </div>
  </div>
</div> <!-- End navigation (breadcrumbs) section -->
