

<div class="breadcrumbs"> <!-- Begin navigation (breadcrumbs) section -->

<center>
<table border="0" cellpadding="0" width='85%'>
<tr><td>
  <table style="border: 0px solid #000000; border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td rowspan='1' width='15%' align="center">
        <MY_H4>
          <% if Rails.env.development? %>
            <%= link_to 'Home', tabarahranchtrakehners_home_path %>
          <% else %>
            <a href="https://www.tabarahranchtrakehners.com">Home</a>
          <% end %>
        </MY_H4>
      </td>
      <td rowspan='1' width='15%' align="center">
        <MY_H4>
          <%= link_to 'Our Herd', herd_path %>
        </MY_H4>
      </td>
      <td rowspan='1' width='15%' align="center">
        <MY_H4>
          <%= link_to 'For Sale', forsale_path %>
        </MY_H4>
      </td>
      <td rowspan='1' width='15%' align="center">
        <MY_H4>
          <%= link_to 'Pedigrees', pedigrees_path %>
        </MY_H4>
      </td>
<!--
      <td rowspan='1' width='15%' align="center">
  <a href="news.html"><MY_H4>Latest News</MY_H4></a>
      </td>
      <td rowspan='1' width='15%' align="center">
  <a href="gallery.html"><MY_H4>Photo Album</MY_H4></a>
      </td>
-->
      <td rowspan='1' width='15%' align="center">
        <MY_H4>
          <%= link_to 'Contact Us', contact_path %>
        </MY_H4>
      </td>
<!--
      <td rowspan='1' width='15%' align="center">
  <a href="links.html"><MY_H4>Links</MY_H4></a>
links (ATA, Trakehner Verband, USDF, USEF, Blessed Fields (Ichi-Ban), Meadowview (Nemo, Herrzauber), Emma Dye Dressage)
      </>
-->
  </table>
</td> </tr>
</table>
</center>

</div> <!-- End navigation (breadcrumbs) section -->
