<!DOCTYPE html>
<html>
<head>
  <title>Tabarah Ranch Trakehners</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/tabarahranchtrakehners/navbar' %>
  <div class='clear_div'></div>

  <%= yield %>

  <%= render 'layouts/tabarahranchtrakehners/footer' %>
</body>
</html>
