<!DOCTYPE html>
<html>
<head>
  <title>Tabarah Ranch Trakehners</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', module: true, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="tabarah-nobackground">
    <%= render 'layouts/tabarahranchtrakehners/navbar' %>
    <div class='clear_div'></div>

    <%= yield %>

    <%= render 'layouts/tabarahranchtrakehners/footer' %>
  </div>
</body>
</html>
