<!DOCTYPE html>

<!-- TODO: Need to investigate making this better for mobile devices. *author's note to self -->
<html>
<head>
	<title>Joriah</title>

	<!-- Meta tags are used by many search engines to index websites.  *author's note to self -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="Trakehner horses for sale warmblood bloodlines breed Washington Abdullah Herzzauber Nemo Ichi-ban dressage jumping" />
	<meta name="description" content="Tabarah Ranch strives to breed the ideal
	Trakehner for both the amature and professional rider while adhering to the
	ideals of the Verband and the ATA, seeking beauty and harmony in every aspect
	of our horses." />

	<link rel="shortcut icon" href="favicon.ico">
</head>

<div class="tabarah">
		<div style="float:left; width:1%; height:100%;margin-bottom:-80px;">&nbsp;</div>
		<br> <br>

    <div class="text-center">
			<div class="my-h1">Joriah</div>

			<p>
				<%= image_tag( "tabarah/jori_2011_inspection_head3_cropped.jpg", size: "585x495", alt: "Trakehner inspection pic of Jori, head" ) %>
			</p>
		</div>

		<p>
		  This 2008 mare has a lovely start in life.  She was raised at home to learn her manners from grandmama and daily
		  handling.  2011 saw Joriah started under saddle and her attendance at her first shows.  She also matched her mother's
		  performance at her own Trakehner inspection with a 54, also earning her the High Point award, and continuing to
		  demonstrate a splendid example of our shared breeding goals of the ATA and the Trakehner Verband. <br> <br> <br>
		</p>

    <div class="text-center">
			<p>
				Here is Jori in one of her first days in the pasture as a foal.  Next is
				4 month old Jori at her foal evaluation at the 2008 ATA inspection.
				<%= image_tag( "tabarah/JoriahPasture2Day5_small.jpg", size: "500x400", alt: "Baby Jori in pasture" ) %>
				<%= image_tag( "tabarah/trakehnerInspectionJoriFreeTrot_cropped.jpg", size: "550x400", alt: "Jori's 2008 ATA foal evaluation" ) %> <br>
				<br> <br> <br>
			</p>

			<p>
				Here is a short video of three year old Joriah free jumping a 3'3" vertical, December 2011. <br>
				<iframe width="853" height="480" src="https://www.youtube.com/v/ReSyYrspJSU" frameborder="0" allowfullscreen></iframe>
				<br> <br> <br>
			</p>

			<p>
				Joriah won high point mare at her ATA inspection in Washington in 2011. <br>
				<%= image_tag( "tabarah/jori_2011_inspection_body2_cropped.jpg", size: "750x550", alt: "Joriah's 2011 ATA inspection, body" ) %>
				<br> <br> <br> <br>
			</p>

			<p>
				This beautiful video was produced by Emma Dye of Dye Dressage. <br>
				<iframe width="560" height="315" src="http://www.youtube.com/embed/Y1xVUribYbY?rel=0" frameborder="0" allowfullscreen></iframe>
				<br><br><br><br>

				Two short clips of Jori jumping.  The first is from August 2012, her first
				single jumps under saddle.  The second is from November 2012, stringing
				multiple jumps together.  Thank you again Dye Dressage for sharing these videos. <br>
				<iframe width="560" height="315" src="http://www.youtube.com/embed/NhPAp-vuqG0?rel=0" frameborder="0" allowfullscreen></iframe>
				<iframe width="560" height="315" src="http://www.youtube.com/embed/ajPfEaeOagY?rel=0" frameborder="0" allowfullscreen></iframe>
				<br><br><br>
			</p>

			<p>
				<%= image_tag( "tabarah/jori_2011_inspection_head4_cropped.jpg", size: "375x400", alt: "Joriah's 2011 ATA inspection, head" ) %> <br>

				We are very pleased with this stunning young lady and are preparing her to go far. <br>
			</p>
  	</div>

</div>
</html>
